# NextCloud
._sync*
.owncloudsync.log

# Hugo
debug.log
/public/
hugo_stats.json

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace