[submodule "themes/ublogger"]
	path = themes/ublogger
	url = https://github.com/uPagge/uBlogger.git
[submodule "themes/Loveit"]
	path = themes/Loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
